.glow-btn {
    color: white;
    padding: 10px 40px;
    border: 1px solid white;
    border-radius: 8px;
    cursor: pointer;
    letter-spacing: 2px;
    font-size: 25px;
    width: fit-content;
}
.glow-btn:hover {
    transition: all 1s;
    background: #07a6f1;
    box-shadow: 0 0 5px #07a6f1, 0 0 25px #07a6f1, 0 0 50px #07a6f1, 0 0 100px #07a6f1;
    border: 0;
}