@import url(https://fonts.googleapis.com/css?family=Walter+Turncoat);

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
Link{
  text-decoration: none;
  color:inherit;
}
/* CSS for background  */
.bg-forest{
    background:url(../images/forest-background.png);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.w-100{
    width: 100%;
}

/* CSS for header */
.heading-container{

    background-image: url(../images/wooden-plate.png);
    background-repeat: no-repeat;
    height: 20vmax;
    width: 500px;
    border: 2px solid black;
    background-size: contain;
    margin:auto;
}
.wooden-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: #fff;
    mix-blend-mode: darken;
    text-shadow: 0 0 0.05em rgba(0, 0, 0, 0.2), -0.025em 0.025em 0.1em #000,
      -0.05em 0.05em 0.1em #000, -0.1em 0.1em 0.3em #000,
      -0.1em 0.1em 0.5em rgba(0, 0, 0, 0.5);
    translate: translate3d(0, 0, 0);
    font-family: "Muli", sans-serif;
    font-size: 48px;
    line-height: 1;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
  }
  .small {
    font-size: 0.475em;
  }
  


  
  .wood-border{
    width: 84%;
    border-radius: 50px;
    height: 80px;
    position: relative;
    font-size: 2rem;
    color: white;
    line-height: 2;
    letter-spacing: 0.2em;
    text-shadow: 3px 0px 2px #222222;
    text-align: center;
    z-index: 3;

    box-shadow: inset 0 0 16px 4px #343134;
    border: 10px groove #d27d2c;
    background-color: #4e4a4e;
    
  }

  .wood-border::placeholder{
    color:white;
  }

  .wood-button{
    border-radius: 10px;
    background-color: #d27d2c;
    box-shadow: inset -1px -1px 0px 2px #a86423;
    color: black;
    letter-spacing: 2px;
    font-size: 1.2em;
    width: fit-content;
    padding: 5px 20px;
    border: 3px solid #171717;
    margin: 5px auto;
    display: block;
    line-height: 1.5em;
    font-family: 'Luckiest Guy', cursive;
    cursor: pointer;
  }
  .arrow-btn{
    position: absolute;
    background: url(../images/arrow.png);
    bottom:-20px;
    background-size: cover;
    left:50%;
    transform: translateX(-50%) scaleX(-1);
    height: 30vh;
    width: 30vh;
  }
  .arrow-text{
    transform: scaleX(-1);
    margin-top:30px;
    margin-right: 30px;
    font-size: 2.2rem;
    font-family: 'Luckiest Guy', cursive;
    cursor: not-allowed;
    padding:1rem 0;
    color: #0000005b;
    /* width: fit-content; */
  }

  /* CSS for pillar and inner components */

  .both-side-pillar{
    background: url(../images/pillar-both-sided.png);
    height:75vh;
    width: 40vw;
    align-self: baseline;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
  }

  .broad-pillar
  {
    background: url(../images/pillar-big-space.png);
    height:65vh;
    width: 55vw;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
  }
  .pillar-board-container{
    /* position: relative;
    top:7vh;
    left:5.5vw; */
    width: 22vw;
    height: 50vh;
    /* background-color: red;s */
    margin-top:7vh;
  }
  .pillar-board{
    background:url(../images/scoreboard-top.png);
    background-size: cover;
    margin:auto;
    width: 80%;
    height: 100px;
    list-style-type: none;
    position: relative;
  }
  .pillar-board:not(:first-child)
  {
    background:url(../images/scoreboard-mid.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 90px;
  }
  .pillar-board:last-child
  {
    background:url(../images/scoreboard-end.png);
    background-size: contain;
    background-repeat: no-repeat;
  }
  .pillar-board p{
    font-family: "Walter Turncoat", cursive;
    font-size: 28px;
    text-align: center;       
    font-weight: 600;
    color:white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    letter-spacing: 3px;
  }
  .pillar-board .heading{
  letter-spacing: 5px;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  color:rgb(69, 226, 82);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  }
  .pillar-board p:not(.heading){
    /* background-color: pink; */
    padding-top:15px;
    
  }
  .pillar-board p:nth-child(2)
  {
    font-size: 12px;
    font-style: italic;
    color:yellow;
    padding-top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1px;
  }
  .pillar-board .score{
    font-size: 44px;
  }



  #timer{
    position: absolute;
    top:20px;
    right:50px;
    background: url(../images/mid-banner.png);
    width: 250px;
    height: 65px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Luckiest Guy', cursive;
    color:white;
    font-weight: 100;
    font-size: 28px;
    letter-spacing: 4px;
  }
  #timer .s{
    font-size: 20px;
  }

  #corrected-words{
    position: absolute;
    bottom: 0px;
    right: 20px;
    height: 80vh;
    width: 32vw;
    background: url(../images/standing-board.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 14vh;
  }
  #corrected-words .heading{
    font-size: 22px;
    height: fit-content;
    margin-bottom: 10px;
    font-weight: 900;
  }
  #corrected-words ul{
    width: 70%;
    height: 40%;
    margin-left:40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  #corrected-words *{
    font-family: cursive;
    letter-spacing: 2px;
  }

  #quiz-score{
    position: absolute;
    top:30px;
    left: 45%;
    transform: translateX(-50%);
    background:url(../images/choice.png);
    background-size: cover;
    width: 350px;
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10px;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 28px;
    letter-spacing: 2px;
    color:white;

  }

  #letter-block{
    background-color:#a86423;
    padding: 20px 30px;
    background: url(../images/base.png);
    border-radius: 5px;

  }
  #letter-block span{
    font-size: 32px;
    color:white;
    font-weight:600;
    
  }

  @media screen and (max-width:480px) {
    .heading-plate{
      width: 500px;
  }
  .wooden-text {
    top: 90px;
    font-size: 36px;
  }
  }

  